body {
  background-color: rgb(4, 9, 54)
}

h1, Link, a {
  font-family: 'Nova Mono', monospace !important;
}

/* a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
} */
